<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-kantarsyncnow" version="0.0.1">
   <name>KantarSyncNow</name>
   <js-module name="KantarSyncNow" src="www/KantarSyncNow.js">
      <clobbers target="cordova.plugins.KantarSyncNow" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="KantarSyncNow">
            <param name="android-package" value="com.mobileaccord.geopoll.plugins.kantarsyncnow.KantarSyncNow" />
         </feature>
      </config-file>
	  <config-file target="AndroidManifest.xml" parent="/*">		
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />		
	  </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/libSyncNowDetector/jniLibs/arm64-v8a/libsoxr.so" target-dir="src/main/jniLibs/arm64-v8a" />
	  <source-file src="src/android/libSyncNowDetector/jniLibs/arm64-v8a/libSyncNowJNI.so" target-dir="src/main/jniLibs/arm64-v8a" />
	  <source-file src="src/android/libSyncNowDetector/jniLibs/armeabi/libsoxr.so" target-dir="src/main/jniLibs/armeabi" />
	   <source-file src="src/android/libSyncNowDetector/jniLibs/armeabi/libSyncNowJNI.so" target-dir="src/main/jniLibs/armeabi" />
	  <source-file src="src/android/libSyncNowDetector/jniLibs/armeabi-v7a/libsoxr.so" target-dir="src/main/jniLibs/armeabi-v7a" />
	  <source-file src="src/android/libSyncNowDetector/jniLibs/armeabi-v7a/libSyncNowJNI.so" target-dir="src/main/jniLibs/armeabi-v7a" />
	  <source-file src="src/android/libSyncNowDetector/jniLibs/x86/libsoxr.so" target-dir="src/main/jniLibs/x86" />
	  <source-file src="src/android/libSyncNowDetector/jniLibs/x86/libSyncNowJNI.so" target-dir="src/main/jniLibs/x86" />
	  <source-file src="src/android/libSyncNowDetector/classes.jar" target-dir="libs" />
	  <source-file src="src/android/libSyncNowDetector/kantarsyncnow.xml" target-dir="res/values" />
	  <source-file src="src/android/KantarSyncNow.java" target-dir="src/cordova-plugin-kantarsyncnow/KantarSyncNow" />
	  <source-file src="src/android/AudioCapture.java" target-dir="src/cordova-plugin-kantarsyncnow/KantarSyncNow" />
	  <source-file src="src/android/AudioDetector.java" target-dir="src/cordova-plugin-kantarsyncnow/KantarSyncNow" />
   </platform>
</plugin>